[Unit]
# network-online is really needed, otherwise there are problems with snmp
# -> 865620
After=network-online.target
Description=UPS 2 power management daemon
Documentation=man:apcupsd(8)

[Service]
ExecStartPre=/lib/apcupsd/prestart
ExecStart=/sbin/apcupsd -f /etc/apcupsd/apc2upsd.conf -P /run/apcupsd2.pid
Type=forking
KillMode=process
PIDFile=/run/apcupsd2.pid

[Install]
WantedBy=multi-user.target
